<!-- في المكان ده هحط footer -->



    <!-- Main Footer -->

<style>
.mail {
  width:20px;
}


</style>

<footer class="main-footer">
  <strong>حق النشر &copy; 2020-<span id="date"></span> <a href="https://www.facebook.com/12wmwm34">محمد الشعيلي</a>.</strong>
  كل الحقوق محفوظة.
  <div class="float-right d-none d-sm-inline-block">
    <a target="_blank" class="text-danger" href="https://www.youtube.com/channel/UCPI-x9c8U7pFEZmpNu6o3QA"><i class="fab ml-1 fa-youtube"></i></a>
    <a target="_blank" class="text-info" href="https://www.linkedin.com/in/mohammed-al-shoaili-9b3884219"><i class="fab ml-1 fa-linkedin"></i></a>
    <a target="_blank" class="text-dark" href="https://github.com/Mohammed-Al-Shoali"><i class="fab ml-1 fa-github"></i></a>
    <a target="_blank" href="https://www.facebook.com/groups/491660415318269"><i class="fab ml-1 fa-facebook"></i></a>
    <a target="_blank" href="https://twitter.com/ZbxzKnsFHYqRjsW"><i class="fab ml-1 fa-twitter"></i></a>
    <a target="_blank" class="text-warning" href="https://www.instagram.com/12wmwm342021"><i class="fab ml-1 fa-instagram"></i></a>
    <a target="_blank" class="text-danger ml-1" href="mailto:34wmwm56@gmail.com"><i class="fab fa fa-envelope"></i></a>
    <a href = 'https://www.facebook.com/12wmwm34' class = 'ml-1'>Mohammed Al-shoaili</a>
  </div>
</footer>


<script>
  var date = document.getElementById('date');
  var nowDate = new Date().getFullYear();
  date.innerText = nowDate;

</script>